<div id="<%= dom_id navigation %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= navigation.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Link:</strong>
    <%= navigation.link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dropdown:</strong>
    <%= navigation.dropdown %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sorting:</strong>
    <%= navigation.sorting %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this navigation", navigation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this navigation", edit_navigation_path(navigation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
