<%= form_with(model: post_category, builder: DaisyFormBuilder, html: {data: {controller: 'admin-form'}}) do |form| %>
  <% if post_category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(post_category.errors.count, "error") %> prohibited this post category from being saved:</h2>

      <ul>
        <% post_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input "name", input_html: {maxlength: 100, data: {'admin-form-target': 'name', 'action': 'admin-form#dasherize'}} %>
  <%= form.input "key", label: t('Title'), input_html: {maxlength: 100} %>
  <%= form.input "description", input_html: {maxlength: 200} %>
  <%= form.input "url", input_html: {data: {'admin-form-target': 'url'}} %>
  <%= form.input "active" %>
  <%= form.rich_text_area "content"%>

  <div class="my-5">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to t("Cancel"), post_categories_path, class: "btn ml-4" %>
  </div>
<% end %>
