<div class="p-1 hidden md:block">
	<ul class="menu bg-base-200 w-56 rounded-box">
	  <li><%= link_to(t('Settings'), edit_setting_path(id:1) )%></li>
	  <li><%= link_to(t('Users'), users_path)%></li>
	  <li><%= link_to(t('Inquiry'), inquiries_path)%></li>
	  <li><%= link_to(t('Product Categoris'), product_categories_path)%></li>
	  <li><%= link_to(t('Product'), products_path)%></li>
	  <li><%= link_to(t('Post Categoris'), post_categories_path)%></li>
	  <li><%= link_to(t('Posts'), posts_path)%></li>
	  <li><%= link_to(t('Banner'), banners_path)%></li>
	  <li><%= link_to(t('Friend Links'), friend_links_path)%></li>
	  <li><%= link_to(t('Download'), download_files_path)%></li>
	  <li><%= link_to(t('Images'), images_path)%></li>
	</ul>
</div>