<%= form_with(model: inquiry, class: "w-full", url: home_inquiry_path) do |form| %>
	
	<% if product %>
		<%= form.hidden_field("product_id", value: product.id)%>
	<% end %>
	
	<%= form.email_field("email", required: true, placeholder: t("Email"), class: "input input-sm input-bordered md:min-w-full text-neutral-500") %>
	<div class="flex md:justify-between gap-2 my-2 flex-col md:flex-row">
		<%= form.text_field("name", required: true, class: "input input-bordered input-sm text-neutral-500", placeholder: t('Name')) %>
		<%= form.telephone_field("phone", required: true, placeholder: t("Phone"), class: "input input-bordered input-sm text-neutral-500") %>
	</div>
  <%= form.text_area("content", required: true, class: "textarea textarea-bordered textarea-sm md:min-w-full text-neutral-500", rows: 4) %>

  <%= cloudflare_turnstile %>
  <div class="my-4 flex justify-end">
    <%= form.submit(t('Inquiry'), class: "btn btn-sm bg-purple-500 text-slate-50 hover:text-slate-700") %>
  </div>
<% end %>
