<% if @setting.share_code.present? %>
	<% content_for :share_js do %>
		<%== @setting.share_code %>
	<% end %>
<% end %>

<% content_for :navi do %>
    <%= render partial: 'home/navi', locals: {opacity: true} %>
<% end %>

<% content_for :title do %>
	<title><%= @product.name %></title>
<% end %>

<% if  @product.key.present? %>
  <%= render partial: 'home/seo_meta_title', locals: {title: @product.key} %>
<% end %>

<% if  @product.desc.present? %>
  <%= render partial: 'home/seo_description', locals: {description: @product.desc} %>
<% end %>

<div class="container mx-auto">
	<div class="p-2">
		<%= render partial: 'home/breadcrumb', locals: {category: @category}%>
	</div>
	<div class="grid grid-flow-row grid-cols-1 md:grid-cols-2 my-4" data-controller="product">
		<div class="p-2 flex gap-4">
			<div class="md:w-3/4 w-full">
				<img src="<%= @product.first_image %>" alt="" class="w-full h-64 md:h-[32rem] object-cover" data-product-target="primary">
			</div>
			<div class="hidden md:flex flex-col">
				<% @product.all_images.to(3).each do |img_src| %>
					<div class="p-2">
						<img src="<%= img_src %>" class="w-28 h-28 border border-neutral-300 cursor-pointer" data-action="click->product#switch">
					</div>
				<% end %>
			</div>
		</div>
		<div class="p-2">
			<h3 class="font-semibold text-2xl"><%= @product.display_name %></h3>
			<p class="text-sm text-neutral-400"><%= @product.desc %></p>
			<div class="my-4">
				<%= render partial: 'inquiry_form', locals: {inquiry: @inquiry, product: @product} %>
			</div>
			<div class="font-serif"><%= @product.specs %></div>
		</div>
	</div>
	<div class="sharethis-inline-share-buttons"></div>

	<div class="p-2 my-6">
		<h3 class="w-2/3 mx-auto text-center my-2 text-4xl"><%= t('Description') %></h3>	
		<%= @product.content %>
	</div>
	
</div>