<% kls = opacity ? "" : "bg-transparent text-slate-200" %>

<div class="navbar bg-base-100 <%= kls%>">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
	  	<% @navigations.each do |nav| %>
			<% if not nav.name.downcase.eql?('categories') %>
				<li><%= link_to nav.name, insert_locale(nav.link) %></li>
			<% else %>
				<li>
					<%= link_to nav.name, insert_locale(nav.link) %>
					<ul class="p-2">
						<% @product_categories.each do |category| %>
							<%= build_category(category) %>	
						<% end %>
					</ul>
				</li>
			<% end %>
		<% end %>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href="/"><%= @setting.name %></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-xl bg-base-100">
	  	<% @navigations.each do |nav| %>
			<% if not nav.name.downcase.eql?('categories') %>
				<li><%= link_to nav.name, insert_locale(nav.link) %></li>
			<% else %>
				<li>
					<details>
						<summary><%= nav.name %></summary>
						<ul class="p-2 z-[999] text-slate-600 dark:text-gray-200">
							<% @product_categories.each do |category| %>
								<%= build_category(category) %>	
							<% end %>
						</ul>
					</details>
				</li>
			<% end %>
		<% end %>
    </ul>
  </div>
  <div class="navbar-end">
	<a href="<%= home_s_page_path %>" class="mr-4 hover:scale-110">
		<svg xmlns="http://www.w3.org/2000/svg" class="text-slate-800 dark:text-slate-400" stroke="currentColor" fill="currentColor"  height="28" width="24" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
	</a>
  </div>
</div>