<% content_for :title do %>
    <title><%= @setting.name%></title>
<% end %>

<% if  @setting.seo_meta_title.present? %>
  <%= render partial: 'home/seo_meta_title', locals: {title: @setting.seo_meta_title} %>
<% end %>

<% if  @setting.seo_description.present? %>
  <%= render partial: 'home/seo_description', locals: {description: @setting.seo_description} %>
<% end %>

<% content_for :navi do %>
  <% if @banners.size.eql?(1)  %>
    <%= render "home/hero" %>
  <% else %>
    <%= render partial: 'home/navi', locals: {opacity: true} %>
    <%= render "home/carousel" %>
  <% end %>
<% end %>


<% unless @latest_posts.blank? %>
  <div class="container mx-auto">
  	<a class="w-full md:w-1/2 mx-auto font-semibold text-4xl text-center mt-8 mb-4 block" href="<%= home_posts_path %>"><%= t('Latest Blog') %>
      <small class="text-sm underline underline-offset-2 "> More </small>
    </a>
  	<div class="my-4 grid grid-flow-row grid-cols-1 md:grid-cols-2 gap-4 md:gap-12">
  		<% @latest_posts.each do |resouce| %>
  			<%= render partial: 'home/full_post_card', locals: {post: resouce, default_img: @post_default_img} %>	
  		<% end %>
  	</div>
  </div>
<% end %>

<% unless @recommend_products.blank? %>
  <%= render partial: "home/featured_products", locals: {resouces: @recommend_products, title: t('Featured Products')} %>
<% end %>

<% unless @hot_products.blank? %>
  <%= render partial: "home/product_cards", locals: {products: @hot_products, title: t('Hot Product')} %>
<% end %>

<% unless @new_arrive_products.blank? %>
  <%= render partial: "home/product_cards", locals: {products: @new_arrive_products, title: t('New Arrive')} %>
<% end %>

<%== @setting.raw_block %>