<% content_for :title do %>
    <title><%= @setting.name%></title>
<% end %>

<% if  @setting.seo_meta_title.present? %>
  <%= render partial: 'home/seo_meta_title', locals: {title: @setting.seo_meta_title} %>
<% end %>

<% if  @setting.seo_description.present? %>
  <%= render partial: 'home/seo_description', locals: {description: @setting.description} %>
<% end %>

<% content_for :navi do %>
  <% if @banners.size.eql?(1)  %>
    <%= render "home/hero" %>
  <% else %>
    <%= render partial: 'home/navi', locals: {opacity: true} %>
    <%= render "home/carousel" %>
  <% end %>
<% end %>

<%= render "home/featured_products" %>
<%= render partial: "home/product_cards", locals: {products: @hot_products, title: t('Hot Product')} %>
<%= render partial: "home/product_cards", locals: {products: @new_arrive_products, title: t('New Arrive')} %>
<%= render partial: "home/latest_contents", locals: {resouces: @latest_posts, title: t('Latest Blog')} %>

