<% if @setting.share_code.present? %>
	<% content_for :share_js do %>
		<%== @setting.share_code %>
	<% end %>
<% end %>

<% content_for :navi do %>
    <%= render partial: 'home/navi', locals: {opacity: true} %>
<% end %>

<% content_for :title do %>
    <title><%= @post.title %></title>
<% end %>

<% if  @post.desc.present? %>
  <%= render partial: 'home/seo_description', locals: {description: @post.desc} %>
<% end %>

<div class="md:w-2/3 mx-auto w-full my-4 px-4">
	<h3 class="text-2xl font-semibold text-center p-2"><%= @post.title %></h3>
	<% if current_user %>
		<div class="flex justify-center my-4 gap-4">
			<%= button_to "Destroy", post_path(@post), method: :delete, class: "btn btn-danger" %>
			<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
		</div>
	<% end %>
	<p class="text-sm text-neutral-400 text-center">
		<%= t('Updated at') %> <%= @post.updated_at.to_fs(:short) %>
	</p>

	<img src="<%= @post.image.present? ? @post.image : @post_default_img %>" alt="<%= @post.title %>" class="w-full md:max-h-[32em] object-cover my-4">

	<div class="sharethis-inline-share-buttons"></div>
	<div class="my-4">
		<div class="prose lg:prose-lg dark:prose-invert mx-auto">
			<% if @post.is_md? %>
				<%== to_md @post.md_content %>
			<% else %>
				<%= @post.content %>
			<% end %>
		</div>
	</div>
</div>
