<%= form_with(model: setting, builder: DaisyFormBuilder) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
        <% setting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="text-lg font-semibold my-2 text-slate-600">
    <%= t('Basic Information') %>
  </h3>
  <%= form.input :name, label: t("Website Name")  %>
  <%= form.input :url, label: t("Website URL")  %>
  <%= form.input :logo, label: t("Website Logo") %>
  <%= form.input :ico, label: t("Website Icon")%>
  <%= form.input :theme, label: t("Theme")%>
  <%= form.input :copyright, label: t("Copyright") %>
  <%= form.input :raw_block, label: t("Custom raw html in home page") %>
  <div class="divider my-2"></div>

  <h3 class="text-lg font-semibold my-2 text-slate-600">
    <%= t('Contact Detail') %>
  </h3>
  <%= form.input :email %>
  <%= form.input :skype %>
  <%= form.input :whatsapp %>
  <%= form.input :phone %>
  <div class="divider my-2"></div>

  <h3 class="text-lg font-semibold my-2 text-slate-600">
    <%= t('SEO Settings') %>
  </h3>
  <%= form.input :seo_meta_title, hint: t("Homepage meta title") %>
  <%= form.input :seo_description, hint: t("Homepage meta description") %>
  <div class="divider my-2"></div>

  <h3 class="text-lg font-semibold my-2 text-slate-600">
    <%= t('Email Settings') %>
  </h3>
  <%= form.input :email_user_name %>
  <%= form.input :email_passwd %>
  <%= form.input :email_port %>
  <%= form.input :email_smtp %>
  <%= form.input :email_sender %>
  <%= form.input :email_receiver %>
  <%= form.input :email_active %>
  <%= form.input :email_auto_ssl %>
  <%= form.input :email_authentication %>
  <%= form.input :cf_site_key %>
  <%= form.input :cf_secret_key %>
  <div class="divider my-2"></div>

  <h3 class="text-lg font-semibold my-2 text-slate-600">
    <%= t('Other Settings') %>
  </h3>
  <%= form.input :product_per_page %>
  <%= form.input :post_per_page %>
  <%= form.input :recommend_per_page %>
  <%= form.input :new_arrive_per_page %>
  <%= form.input :ga_code %>
  <%= form.input :g_tag_head, label: t('Google Tag Code Head') %>
  <%= form.input :g_tag_body, label: t('Google Tag Code Body') %>
  <%= form.input :share_code, hint: t('Only support sharethis.com') %>
  <%= form.input :tawk_code %>

  <div class="my-5">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
