<div id="<%= dom_id post %>">
  <h3 class="text-2xl font-semibold flex justify-center my-4">
    <%= post.title %>
  </h3>

  <p class="text-sm flex justify-center">
    <strong class="mr-2"><%= t('Title displayed in URL:')%></strong>
    <%= post.display_title %>
  </p>

  <p class="text-sm flex justify-center">
    <strong class="mr-2">Category:</strong>
    <%= post.category.name %>
  </p>

  <p class="my-5 text-secondary flex justify-center">
    <%= post.desc %>
  </p>

  <% if post.image.present? %>
    <img src="<%= post.image %>" alt="<%= post.title%>" class="w-full rounded-sm shadow-sm">
  <% end %>


  <article class="my-4"> <%= post.content %> </article>

</div>
