<%= form_with(model: product, builder: DaisyFormBuilder, html: {data: {controller: 'admin-form'}}) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :category_id, label: t("Category"), collection: ProductCategory.all, text_method: :full_path_text, value_method: :id   %>
  <%= form.input :name, label: t("Product Name"), input_html: {maxlength: 100, data: {'admin-form-target': 'name', 'action': 'admin-form#dasherize'}}   %>
  <%= form.input :model_string, label: t("Model")  %>
  <%= form.input :key, label: t("Meta Title"), input_html: {maxlength: 100}  %>
  <%= form.input :url, label: "URL", hint: t("For seo purpose"), input_html: {data: {'admin-form-target': 'url'}} %>
  <%= form.input :desc, label: t("Description"), as: :text, input_html: {maxlength: 200}  %>
  <%= form.input :sorting, label: t("Sorting")  %>
  <div class="my-5 h-48">
    <%= link_to t("Add Product Images"), add_an_image_products_path, class: "btn btn-primary btn-sm", data: {turbo_stream: true } %>
    <%= turbo_frame_tag "images", class: "flex gap-4 my-4" do %>
      <% if action_name.eql?('edit') %>
        <% @images.each do |image| %>
          <%= render partial: 'images/preview', locals: {image: image}%> 
        <% end %>
      <% end #if %>
    <% end %>
  </div>
  <div class="my-5">
    <%= form.input :specs, input_html: {rows: 5, placeholder: "name1: value1\nname2:value2"}, hint: 'will convert to table rows' %>
  </div>
  <div class="my-5">
    <label class="my-2 block"><%= t('Product Detail') %></label>
    <%= form.rich_text_area :content %>
  </div>

  <div class="my-5">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
