<%= form_with(model: product, builder: DaisyFormBuilder) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :category_id, label: t("Category"), collection: ProductCategory.all, text_method: :full_path_text, value_method: :id   %>
  <%= form.input :meta_title, label: t("Meta Title"), hint: t("Optional, will display product name if it is blank")  %>
  <%= form.input :name, label: t("Name") %>
  <%= form.input :model_string, label: t("Model")  %>
  <%= form.input :key, label: t("Keywords")  %>
  <%= form.input :url, label: "URL", hint: t("For seo purpose")  %>
  <%= form.input :desc, label: t("Description"), as: :text  %>
  <%= form.input :sorting, label: t("Sorting")  %>
  <div class="my-5">
    <label class="my-2 block"><%= t('Product Specs') %></label>
    <%= form.rich_text_area :specs %>
  </div>
  <div class="my-5">
    <label class="my-2 block"><%= t('Product Detail') %></label>
    <%= form.rich_text_area :content %>
  </div>

  <div class="my-5">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
