<!DOCTYPE html>
<html>
  <head>
    <title>Ivy CMS Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'admin/notice' %>
    
    <main class="container mx-auto flex">
      <%= render partial: 'admin/menu' %>
      <div class="w-full">
        <%= build_breadcrumbs %>
        <%= yield %>
      </div>
      <a href="<%= @preview_link ? @preview_link: "/" %>" class="btn btn-sm btn-neutral fixed bottom-4 right-4" target="_blank"><%= t('Preview') %></a>
    </main>
  </body>
</html>
