<!DOCTYPE html>
<html>
  <head>
    <%= yield :title %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-visit-control" content="reload">      
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :meta_title %>
    <%= yield :description %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css"
      rel="stylesheet"
      type="text/css" />

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= cloudflare_turnstile_script_tag %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="min-h-screen bg-slate-50 dark:bg-slate-800" >
      <a class="btn btn-sm top z-50" href="#">&#8593;</a>
      <%= render('home/inquiry_btn') %>
      <%= yield :navi %>
      <%= yield %>
      <%= render "home/footer" %>
    </main>
  
    <% if @setting.tawk_code.present? %>
      <%== @setting.tawk_code %> 
    <% end %>
    
  </body>
  
  <% if @setting.ga_code.present? %>
    <%== @setting.ga_code %> 
  <% end %>
  
</html>
